.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header img {
  width: 35px;
}
.nav_items img {
  margin: 0 0.8em;
}
