.actionBtn svg {
  font-size: 2em;
  margin-right: 1em;
}
.profileContainer {
  padding: 0 0.5em;
  padding-top: 4em;
  overflow: auto;
  height: 100%;
}
.profileContainer .profile_image {
  width: 80px;
  border-radius: 2.2em;
  object-fit: cover;
}
.actionBtn svg:nth-child(3) {
  margin-right: 0;
}
.profileContainer h4 {
  font-size: 1.5em;
  color: var(--textColor);
  margin: 0.5em 0 0.1em 0;
}
.profileContainer p {
  font-size: 1.1em;
  color: #aaa;
  margin: 0;
}
.profileContainer .follow {
  display: flex;
  margin-bottom: 2.5em;
}
.profileContainer .follow > p:nth-child(1) {
  margin-right: 2.5em;
}
.profileContainer .follow p span {
  font-size: 500;
  color: var(--textColor);
  margin-right: 0.2em;
  font-size: 1.3em;
}
.profileContainer button {
  border: none;
  background-color: transparent;
  color: var(--bgColor);
  margin-bottom: 2.5em;
}
.nominated img {
  width: 50px;
  margin-right: 0.5em;
  border-radius: 1em;
  object-fit: cover;
}
.nominated {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.nominated p {
  font-size: 0.975em;
  line-height: 1.4;
}
.nominated p span {
  color: var(--textColor);
  font-weight: 500;
}
.addMemberBtn {
  background-color: lightblue !important;
  margin-bottom: 0 !important;
  border-radius: 1em;
  padding: 0.8em 1em;
  line-height: 1;
  margin-top: 0.3em;
}
